.App {
  text-align: center;
  width: 100%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  top: 55px;
}
.counter-div {
  border: 2px solid rgba(128, 128, 128, 0.6);
  border-radius: 20px;
  width: 300px;
  padding: 30px;
  background-color: aliceblue;
}
.display-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display {
  border: 2px solid rgba(128, 128, 128, 0.1);
  border-radius: 20px;
  width: 150px;
  height: 45px;
  font-size: 25px;
  color: rgba(128, 128, 128, 0.9);
}
